<header>
  <h1>{{title}}</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Валюта</th>
      <th>Обозначение</th>
      <th>Курс</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let curren of currency">
      <td *ngIf="curren.cc === 'USD' || curren.cc === 'EUR'">{{curren.txt}}</td>
      <td *ngIf="curren.cc === 'USD' || curren.cc === 'EUR'">{{curren.cc}}</td>
      <td *ngIf="curren.cc === 'USD' || curren.cc === 'EUR'">{{curren.rate}}</td>
    </tr>
    </tbody>
  </table>
</header>
<div class="calcForm">
  <label for="in">Введите сумму для конвертации</label>
  <input (input)="calcFromVal1()" [(ngModel)] = "value1" type="number" id="in">
  <select (change)="calcFromVal1()" [(ngModel)]="selectOfCur1" id="select1" >
    <option>USD</option>
    <option>EUR</option>
    <option>UAH</option>
  </select>
  <input (input)="calcFromVal2()" [(ngModel)] = "value2" type="number" id="out">
  <select (change)="calcFromVal1()" [(ngModel)]="selectOfCur2" id="select2">
    <option>USD</option>
    <option>EUR</option>
    <option>UAH</option>
  </select>
</div>
